<div *ngIf="user" class="container-fluid my-profile-container">
    <div class="">
    <div class="cover-photo">
      <div class="user-name">
          {{user.lastName|titlecase}} {{user.firstName|titlecase}}
      </div>
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> 
        <li class="nav-item">
            <div *ngIf="!user" class="circle"></div>
            <img *ngIf="user" class="profile-image" src="{{user.image}}">

        </li> 
        <li class="nav-item">
          <a class="nav-link active" id="pills-vacations-tab" data-toggle="pill" href="#pills-vacations" role="tab"
            aria-controls="pills-vacations" aria-selected="true">Vacations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-proposals-tab" data-toggle="pill" href="#pills-proposals" role="tab"
            aria-controls="pills-proposals" aria-selected="false">Proposals</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-vacations" role="tabpanel" aria-labelledby="pills-vacations-tab">
          <div class="row equal card-container">
            <div class="col-sm-4 d-flex pb-3 vacation-card" *ngFor="let vacation of vacations">
              <app-trip-card [vacation]="vacation"></app-trip-card>
            </div>
          </div>        
        </div>
        <div class="tab-pane fade" id="pills-proposals" role="tabpanel" aria-labelledby="pills-proposals-tab">
            <div class="row equal card-container">
                <div class="col-sm-4 d-flex pb-3 vacation-card">
                  <app-add-trip-card class="width-100"></app-add-trip-card>
                </div>
                <div class="col-sm-4 d-flex pb-3 vacation-card" *ngFor="let vacation of vacations">
                    <app-trip-card [vacation]="vacation"></app-trip-card>
                </div>
           </div>
        </div>
      </div>
    </div>
</div>
<app-info *ngIf="!user"></app-info>