

  .triangle {
    width: 200px;
    height: 200px;
    background: url("./../../assets/images/no-profile-image.png");
    margin: auto;
    background-size: cover;
    /* The points are: centered top, left bottom, right bottom */
    clip-path: circle(50%)
}


