<!-- app.component.html -->
<div class="container">
 
    <h1>Angular Google Maps with Places Search Example</h1>
   
    <div class="form-group">
      <label>Enter address</label>
      <div class="inputs" *ngFor="let location of locations">
        <input type="text" class="form-control" (focus)="setCurrentSearch(location)" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
    </div>
   
    <agm-map [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude" [zoom]="zoom">
        <div class="markers" *ngFor="let location of locations">
            <agm-marker *ngIf="location.latitude !== defaultNumber" [latitude]="location.latitude" [longitude]="location.longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </div>
    </agm-map> 
  
  </div>