
agm-map {
    height: 450px;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    &:hover {
        .fa-times-circle {
            color: gray !important;
            &:hover {
                color: red !important;
                cursor: pointer;
            }
        }
    }
}

.remove-search-button {
    margin-left: 12px;
    margin-right: 10px;
}

.mock {
    color: transparent !important;
    width: 12px;
    height: 12px;
}

.fa-times-circle {
    color: transparent !important;
}

.fa-globe {
    margin-left: 20px;
    margin-right: 20px;
    color: gray;
}

.search-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: overlay;
    max-height: 450px; 
    min-width: 280px;
}

app-autocomplete-location {
    width: 90%;
}

.content {
    display: flex;
    flex-direction: row;
}

.add-destination {
    color: #ffa000;
    font-family: "Calibri";
    font-size: 16px;
    &:hover {
        text-decoration-line: underline;
    }
}

.fa-plus {
    margin-right: 10px;
    color: #ffa000;
}

.custom-button {
    background-color: #9ea525 !important;
    color: white;
    margin-right: 30px;
}

.fa-angle-right {
  margin-left: 5px;
}

.close-search-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .fa-times {
        color: gray;
        margin: 10px;
        cursor: pointer;
        &:hover {
            color: #cacaca;
        }
    }
}

.show-search-side {
    position: absolute;
    width: 30px;
    height: 70px;
    background-color: #f5f3f3;
    z-index: 1;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 4px 1px 11px rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: white;
        cursor: pointer;
    }
}

.error {
    text-align: center;
    color: red;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 30px;
    font-family: "Calibri";
    font-size: 16px;
    
  }