.container {
    width: 100%;
}

.row {
    height: 100%;
}

.no-padding {
    padding: 0px;
}

.drop-uploader {
    width: 300px !important;
    height: 300px !important;
    color: aqua !important;
}