<div mdbModal #frame="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSignInModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="userAccount" class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input mdbInput mdbValidate type="email" id="email-login" formControlName="email" class="form-control" >
          <label for="email-login">Your email</label>
          <mdb-error *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"><small>Type down a valid email</small></mdb-error>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-lock prefix grey-text"></i>
          <input mdbInput mdbValidate type="password" id="password-login" formControlName="password" class="form-control validate">
          <label for="password-login">Your password</label>
          <mdb-error *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"><small>Add a password of minimum six characters</small></mdb-error>
        </div>
      </form>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn class="waves-light custom-button" [disabled]="userAccount.invalid" (click)="loginUser()" mdbWavesEffect>Sign in</button>
      </div>
    </div>
</div>