
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Details</h4>
      </div>
      <form [formGroup]="vacationForm" class="mx-3">
          <div class="md-form amber-textarea active-amber-textarea">
              <i class="fas fa-pencil-alt prefix" [ngClass]="{'active': description.value}"></i>
              <textarea id="description" class="md-textarea form-control" formControlName="description" rows="3"></textarea>
              <label for="description" [ngClass]="{'active': description.value}" >Description</label>
            </div>
      </form>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn class="waves-light custom-button" mdbWavesEffect>Sign in</button>
      </div>
    </div>
