<div class="card mb-2" *ngIf="vacation" (click)="onTap()">
    <img *ngIf="vacation.image" src={{vacation.image}} class="card-img-top" >
    <img *ngIf="!vacation.image" src="./../../../assets/images/noCoverImage.jpg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{vacation.title}}
        <img *ngIf="!currentUser || currentUser.image === null" src="./../../../assets/images/no-profile-image.png" class="user-circle">
        <img *ngIf="currentUser && currentUser.image !== null" src={{currentUser.image}} class="user-circle" data-toggle="tooltip" data-placement="top" title="Added by {{currentUser.firstName}}" >
      </h5> 
      <p class="card-text" *ngIf="isBiggerThan130(vacation.description)">{{vacation.description | slice:0:130 }}...</p>
      <p class="card-text" *ngIf="!isBiggerThan130(vacation.description)">{{vacation.description}}</p>
      <p class="card-text"><small class="text-muted">Last updated {{vacation.lastChangedDate | timeAgo}}</small></p>
    </div>
</div>