.card {
    background-color: #956a2e;
    height: 100%;
}
  
.card-body {
    background-color: #956a2e;
    color:  #fff4e3;
}

.text-muted {
    color:  #c4b49d !important;
}

.card-text {
    color: #fde9c8 !important;
    margin-top: 20px;
    display: flex;
    text-align: justify
}

.card-img-top {
    max-height: 350px;
}

.card-title {
    text-decoration: underline;
}

.user-circle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    float: right;
    margin-top: -35px;
    right: 35px;
    border: 6px solid #956a2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.card {
    &:hover {
        cursor: pointer;
        background-color: #b0803d;
        .card-body {
            background-color: #b0803d;
        }

        .card-img-top {
            opacity: 0.7;
        }
    }
}