.card {
    background-color: #956a2e;
}
  
.card-body {
    background-color: #956a2e;
    color:  #fff4e3;
}

.text-muted {
    color:  #c4b49d !important;
}

.card-text {
    color: #fde9c8 !important;
}

.card-img-top {
    max-height: 350px;
}
  