.card {
    background-color: #956a2e;
}
  
.card-body {
    background-color: #956a2e;
    color:  #ffff;
}

.text-muted {
    color:  #c4b49d !important;
}

.card-text {
    color: white !important;
}

.card-img-top {
    max-height: 350px;
}
  