<div class="wrapper">
  <div class="logo"></div>
  <div class="right-side">
    <div class="comercial-logos">
      <img src="./../../assets/images/instagram.png" class="logo">
      <img src="./../../assets/images/facebook.png" class="logo">
      <img src="./../../assets/images/twitter.png" class="logo">
    </div>
    <div class="settings" (click)="openMenu()">
      <span class="point"></span>
      <span class="point"></span>
      <span class="point"></span>
    </div>
  </div>
</div>
<div [ngClass]="{'black-wrapper': isMenuOpen}" (click)="closeMenu()"></div>
<div [ngClass]="{'settings-box': isMenuOpen}">
  <div class="close-button" (click)="closeMenu()"></div>
  <a *ngIf="!userLoggedInEvent" class="no-profile-image" (click)="closeMenu()" routerLink="my-profile"></a>
  <img *ngIf="userLoggedInEvent" class="profile-image" src="{{userLoggedInEvent.image}}" (click)="closeMenu()" routerLink="my-profile">
  <span class="settings-element" [ngClass]="{'settings-box-closed': !isMenuOpen}" (click)="openSignInModal()">Sign in</span>
  <span class="settings-element" [ngClass]="{'settings-box-closed': !isMenuOpen}" (click)="openSignUpModal()">Sign up</span>
</div>


