<div class="wrapper">
  <div class="logo"></div>
  <div class="right-side">
    <div class="comercial-logos">
      <img *ngIf="!user || !user.image" src="../../../assets/images/no-profile-image.png" class="logo" routerLink="my-profile">
      <img *ngIf="user" src="{{user.image}}" class="logo" routerLink="my-profile">      
      <div class="wish-list" (click)="displayWishlist()" (clickOutside)=" hideWishlist()">
          <i class="fas fa-hand-holding-heart fa-lg"></i>
      </div>
      <div class="notification" (click)="displayNotifications()" (clickOutside)="hideNotifications()">
          <span class="notification-point" *ngIf="showRedPiontNotification()"></span>
          <i class="fas fa-bell fa-lg"></i>
      </div>
    </div>
    <div class="settings" (click)="openMenu()">
      <span class="point"></span>
      <span class="point"></span>
      <span class="point"></span>
    </div>
  </div>
</div>
<div [ngClass]="{'black-wrapper': isMenuOpen}" (click)="closeMenu()"></div>
<div [ngClass]="{'settings-box': isMenuOpen}">
  <div class="close-button" (click)="closeMenu()"></div>
  <a *ngIf="!user" class="no-profile-image" (click)="closeMenu()" routerLink="my-profile"></a>
  <img *ngIf="isMenuOpen && user" class="profile-image" src="{{user.image}}" (click)="closeMenu()" routerLink="my-profile">
  <span *ngIf="user && isMenuOpen" class="user-name">{{user.firstName|titlecase}}</span>  
  <span class="settings-element" [ngClass]="{'settings-box-closed': !isMenuOpen}" (click)="openSignUpModal()">Sign up</span>
  <span *ngIf="!user" class="settings-element" [ngClass]="{'settings-box-closed': !isMenuOpen}" (click)="openSignInModal()">Sign in</span>
  <span *ngIf="user" class="settings-element" [ngClass]="{'settings-box-closed': !isMenuOpen}" (click)="logOut()">Log out</span>
</div>

<div class="triangle" *ngIf="showNotification"></div>
<div class="notification-content" *ngIf="showNotification">
  <div class="notification-header">
    Notifications
  </div>
  <div *ngIf="notifications && notifications.length > 0" class="notification-body">
      <div class="card-notification" (click)="openNotification(notification)" *ngFor="let notification of notifications" [ngClass]="{'opacity-notification': notification.isViewed}">
        <img *ngIf="notification.userPicture" class="notification-image" src="{{notification.userPicture}}">
        <img *ngIf="!notification.userPicture" class="notification-image" src="./../../../assets/images/no-profile-image.png">
        <div class="right-side">
            <div *ngIf="isBiggerThan34(notification.text)" class="notification-text">{{notification.text| slice:0:40 }}...</div>
            <div *ngIf="!isBiggerThan34(notification.text)" class="notification-text">{{notification.text }}</div>
            <div class="notification-info">
                <i class="fas fa-info-circle fa-xs"></i> {{notification.lastChangedDate | timeAgo}}
            </div>
        </div>
      </div>
  </div>
  <div *ngIf="!notifications || notifications.length === 0" class="notification-body">
    <div class="text-not-find">
      No notifications yet.
    </div>  
  </div>
</div>

<div class="triangle2" *ngIf="showWishList"></div>
<div class="wishlist-content" *ngIf="showWishList">
  <div class="wishlist-header">
    Wish-list
  </div>
  <div *ngIf="wishList && wishList.length > 0" class="wishlist-body">
      <div class="card-wishlist" *ngFor="let wishItem of wishList">
        <i class="fas fa-heartbeat fa-lg"></i>
        {{wishItem.location.address}}
        <i class="fas fa-times-circle fa-sm" (click)="removeWishItem(wishItem)" ></i>
      </div>
  </div>
  <div *ngIf="!wishList || wishList.length === 0" class="wishlist-body">
    <div class="text-not-find">
      Nothing in wish-list yet.
    </div>  
  </div>
</div>



