 <div *ngIf="user">
  <div class="proposal-container">
    <div class="container">
      <div class="stepper-tky">
          <span class="step" (click)="openAddDetailsPage()" [ngClass]="{'state-saved':isDescriptionCompleted}">
                <i *ngIf="!isDescriptionCompleted" class="fas fa-info fa-lg"></i>
                <i *ngIf="isDescriptionCompleted" class="fas fa-check fa-lg"></i>
          </span>
          <span class="line"></span>
          <span class="step" (click)="openAddLocationPage()" [ngClass]="{'state-saved':isLocationCompleted}">
                <i *ngIf="!isLocationCompleted" class="fas fa-globe-americas fa-lg"></i>
                <i *ngIf="isLocationCompleted" class="fas fa-check fa-lg"></i>
          </span>
          <span class="line"></span>          
          <span class="step" (click)="openAddImagePage()" [ngClass]="{'state-saved':isImageCompleted}">
                <i *ngIf="!isImageCompleted" class="fas fa-file-image fa-lg"></i>
                <i *ngIf="isImageCompleted" class="fas fa-check fa-lg"></i>
          </span>
      </div>
      <div *ngIf="imageActive" class="step-container">
        <app-add-image [(vacation)]="vacation" [isStateCompleted]="isStateCompleted" (saveState)="onSave($event)"></app-add-image>
      </div>
      <div *ngIf="locationActive" class="step-container">
        <app-add-location [(vacation)]="vacation" (saveState)="onSave($event)" ></app-add-location>
      </div>
      <div *ngIf="descriptionActive" class="step-container">
        <app-add-description [(vacation)]="vacation" (saveState)="onSave($event)"></app-add-description>
      </div>
  </div>
</div>
</div>
<app-info *ngIf="!user"></app-info>
<div class="black-cover" *ngIf="showToastr">
  <div class="alert success">
    You <strong>successfully</strong> proposed a new vacation.
    <div class="width-100">
      <button type="button" class="btn btn-light-green" (click)="goToMyProposals()">Go to myProfile page</button>
    </div>
  </div>
</div>
