
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Details</h4>
      </div>
      <form [formGroup]="vacationForm" class="mx-3">
          <div class="form-side">
              <div class="top-form">
                  <div class="md-form amber-textarea active-amber-textarea">
                      <i class="fas fa-pencil-alt prefix" [ngClass]="{'active': description.value}"></i>
                      <input mdbValidate mdbInput type="text" id="title" class="md-textarea form-control" formControlName="title">
                      <label for="title" [ngClass]="{'active': title.value}" >Title</label>
                  </div>
                  <div class="md-form amber-textarea active-amber-textarea">
                    <i class="fas fa-pencil-alt prefix" [ngClass]="{'active': description.value}"></i>
                    <textarea id="description" class="md-textarea form-control" formControlName="description" rows="2"></textarea>
                    <label for="description" [ngClass]="{'active': description.value}">Description</label>
                  </div>
              </div>
              <div class="mid-side">
                <div class="md-form amber-textarea active-amber-textarea">
                    <select formControlName="availableMode">
                        <option *ngFor="let symbol of keys()" [ngValue]="symbols[symbol]">{{symbol}}</option>
                    </select>
                </div>
              </div>
              <div class="date-sections">
                <div class="date-section">
                    <label for="startDate" class="label-date" [ngClass]="{'label-active': startDate.value}">Start date</label>
                    <input type="date" name="startDate" id="dateofbirth" formControlName="startDate" >
                </div>
                <div class="date-section">
                  <label for="endDate" class="label-date" [ngClass]="{'label-active': endDate.value}">End date</label>
                  <input type="date" name="dateofbirth" id="endDate" formControlName="endDate">
                </div>
              </div>
          </div>
          <div class="error">
              {{getErrorMessage()}}
          </div>
        </form>
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-brown custom-button" [disabled]="!isValidForm()" (click)="save()">
          Continue <i class="fas fa-angle-right fa-sm"></i>
        </button>
      </div>
    </div>
