<div class="container-fluid footer-container">
  <div class="row cover-text">
      <div class="text-center">
        Follow us
     </div>
  </div>  
  <div class="row">
      <div class="comercial-logos">
        <a href="https://www.instagram.com/takeiteasytakeiteasy10/">
          <img src="./../../assets/images/instagram.png" class="logo">
        </a>
        <a href="https://www.facebook.com/Take-It-Easy-411161706155332/?modal=admin_todo_tour">
          <img src="./../../assets/images/facebook.png" class="logo">
        </a>
        <a href="https://twitter.com/TakeItE47231090">
          <img src="./../../assets/images/twitter.png" class="logo">
        </a>
      </div>
  </div>
</div>
