.footer-container {
    background-color: #4c3a1d;
    padding-top: 11px;
    padding-bottom: 9px;
}

.comercial-logos{
    margin: auto;
    .logo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            opacity: 0.4;
        }

        &:first-of-type {
            margin-right: 25px;
            
        }
        &:last-of-type {
            margin-left: 25px;
        }
    }
}

.text-center {
    justify-content: center;
    color:#fde9c8;
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 5px;
    height: 20px;
    width: 121px;
}

.cover-text {
    &::before {
        content: "";
        position: relative;
        flex: 1;
        margin: 0.5rem 0 0 0;
        height: 1px;
        background-color: #806d4f;
        margin-left: 167px;
    };
    &::after {
        content: "";
        position: relative;
        flex: 1;
        margin: 0.5rem 0 0 0;
        height: 1px;
        background-color: #806d4f;
        margin-right: 167px;
    };
}

@media screen and (min-width: 320px) and (max-width: 670px)  {
    .cover-text {
        &::before {
            margin-left: 26px;
        };
        &::after {
            margin-right: 26px;
        };
    }
}

a {
    margin: 0 !important;
}