<div class="container-fluid">
  <div class="row">
    <div class="parallax">
      <div class="cover-parallax">
        <button class="vacation-button">
          <div class="take-it-easy-message">
                Take it easy boy
                <br>
                Get a Vacation
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">asd</div>
      <div class="col-sm-4">asd</div>
      <div class="col-sm-4">asd</div>
  </div>
</div>