<div class="container-fluid home-container">
  <div class="row">
    <div class="parallax">
      <div class="cover-parallax">
        <button routerLink="vacation" class="vacation-button">
          <div class="take-it-easy-message">
                Take it easy boy
                <br>
                Get a Vacation
          </div>
        </button>
      </div>
    </div>
  </div>
 <div class="title"> Most Wanted</div>
   <div class="row" *ngIf="vacations">
            <div class="col-12 col-md-4 padding-30 max-width margins" *ngFor="let vacation of vacations">
                <app-trip-card [vacation]="vacation"></app-trip-card>
            </div>
          </div>
</div>
