.parallax {
    background-image: url("./../../assets/images/sas.jpg");
    height: calc(100vh - 112px);
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cover-parallax {
      width: 100%;
      height: 100%;
      background-color:rgba(51, 36, 21, 0.51);
      display: flex;
  }

  .vacation-button {
      margin: auto;
      width: 450px;
      height: 425px;
      border: 4px solid #fce1b866;
      border-radius: 50%;
      background-color:rgba(0, 0, 0, 0.19);
      cursor: pointer;
      &:hover{
          background-color:rgba(188, 188, 188, 0.22);;
      }
  }

  .take-it-easy-message {
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0.2, #ffff), color-stop(1, #fbd395));
      background-image: gradient(linear, left top, right top, color-stop(0.2, #ffff), color-stop(1));
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-align: center;
      margin: auto;
      font-family: "Calibri";
      font-size: 48px;
  }

  @media only screen and (max-device-width: 1000px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 670px) {
    .vacation-button {
      width: 243px;
      height: 233px;
      border-width: 2px;
    }

    .take-it-easy-message {
      font-size: 20px;
    }
  }

.card {
  background-color: #956a2e;
}

.card-body {
  background-color: #956a2e;
  color:  #ffff;
}

.text-muted {
  color:  #c4b49d !important;
}

.card-text {
  color: white !important;
}

#carousel-example-multi {
  padding-top: 40px;
  padding-bottom: 35px;
}
@media screen and (max-width: 767px)  {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left { 
    transform: translateX(0);
  }

}

@media screen and (min-width: 768px)  {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left { 
    transform: translateX(0);
  }

}
  
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
  display: inline-flex !important;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 0 !important;
}
.card-img-top {
  max-height: 350px;
}

.padding-30 { 
  padding-right: 30px;
  padding-left: 30px;
}
