<div class="message"><i class="fas fa-hand-holding-heart fa-sm"></i>Add something in your wishlist<i class="fas fa-hand-holding-heart fa-sm"></i></div>
<div class="cover">
    <div class="input-side">
        <input mdbValidate mdbInput type="text" 
        [(ngModel)]="autocompleteInput"
        class="form-control search-input"
        #address>
        <button class="search-button"><i class="fa fa-search"></i></button>
    </div>
    <agm-map id="map" [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude">
        <agm-marker *ngIf="currentLocation && currentLocation.latitude" 
        [latitude]="currentLocation.latitude" 
        [longitude]="currentLocation.longitude"

></agm-marker>
   </agm-map>
   <section class="buttons-section">
        <button type="button" class="btn btn-light-green cancel" (click)="cancel()">Cancel</button>  
        <button type="button" class="btn btn-light-green" (click)="sendRequest()" [disabled]="isAddInWishlistDisabled()">Add in wishlist</button>
   </section>
</div>
<div class="black-cover" *ngIf="showToastr">
    <div class="alert success">
      You <strong>successfully</strong> added a new wishItem.
      <div class="width-100">
        <button type="button" class="btn btn-light-green go-back" (click)="close()">Go back to Vacations</button>
      </div>
    </div>
  </div>
