.cover{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

#map {
    height: 350px;
    width: 100%;
}

.search-input {
    width: 100%;
    border-radius: 6px 0px 0px 0px;
}

.input-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-hand-holding-heart {
    margin-left: 30px;
    margin-right: 30px;
    color: #c2ca37;
  }

.search-button {
  float: left;
  width: 15%;
  height: 39px;
  background: #9ea525;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 6px 0px 0px;
}

.message {
    font-family: "Calibri";
    font-size: 23px;
    color: #c2ca37;
    font-weight: 550;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.btn-light-green {
    color: white;
    font-family: "Calibri" !important;
    font-size: 15px !important;
    float: right;
    margin-top: 10px !important;
    min-width: 67px !important;
    background-color: #9ea525 !important;
    min-width: 143px !important;
  }

  .cancel {
        background-color: #788463 !important;
  }

  .buttons-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }


  .alert {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 10px;
    color: white;
    font-family: "Calibri";
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: absolute;
    top:100;
    strong {
        font-size: 20px;
    }
  }

  .alert.success {background-color: #66764c;}

  .width-100 {
      width: 100%;
      display: flex;
  }

  .go-back {
    margin: auto;
  }

  .black-cover {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
  }
