.parallax {
    background-image: url("./../../assets/images/sas.jpg");
    height: calc(100vh - 112px);
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.cover-parallax {
      width: 100%;
      height: 100%;
      background-color:rgba(51, 36, 21, 0.51);
      display: flex;
      flex-direction: column;
      align-items: center;
  }

.search-vacation {
    margin: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

.search-button {
  float: left;
  width: 15%;
  height: 39px;
  background: #9ea525;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.search-side {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 19px;
  position: relative;
}

.input-side {
  display: flex;
  width: 70%;
  flex-direction: row;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
}

.dorpdown-state-container {
  width: 70%;
  max-height: 200px;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 39px;
  overflow-y: auto;
}

.title {
  margin:21px;
  color: white;
  font-family: "Calibri";
  font-size: 27px;
  strong {
    color :#9ea525;
  }
}

.state {
  padding: 10px;
  &:hover {
    background-color: #d0d0d0;
    cursor: pointer;
  }
}

.card-container {
  margin: 0;
  margin-top: 35px;
  padding-left: 120px;
  padding-right: 120px;
}

.vacation-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

$base: 0.6rem;

.chevron-side {
  width: 42px;
  height: 92px;
  cursor: pointer;
  .chevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
   
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #9ea525;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

@media screen and (min-width: 670px) and (max-width: 1200px)  {
  .card-container {
    padding: 5px;
  }

  .search-vacation {
    width: 70%;
  }
}

@media screen and (min-width: 320px) and (max-width: 670px)  {
  .card-container {
    padding: 5px;
  }

  .search-vacation {
    width: 95%;
  }
}

.wish-list-propose {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 0;
  .fa-heart-broken {
    color: #352711;
    margin-bottom: 20px;
  }
  .wish-list-text {
    font-family: 'Calibri';
    text-align: center;
    font-size: 21px;
    font-weight: 550;
    color: #fde9c8;
    margin-bottom: 30px;
    strong {
      color: #c2ca37;
    }
  }

  .fa-hand-holding-heart {
    color: #fde9c8;
  }

  .btn-light-green {
    background-color: #9ea525 !important;
    min-width: 100px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 20px solid #9ea525;
  border-radius: 60%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9ea525 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  opacity: 0;
}

.black-cover {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.78);
}