/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 0px !important;
    background-color:#7e603c !important; 
    padding: 0px !important;
}

button {
    padding: 0px;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;        
    }
}