/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 0px !important;
    background-color:#7e603c !important; 
    padding: 0px !important;
}

body.modal-open {
    overflow: hidden !important;
}

button {
    padding: 0px;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;        
    }
}

.ngx-file-drop__drop-zone {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    border-style: dashed !important;
    border-color: lightgrey !important;
    width: 100% !important;
    height: 100% !important;
  }

  .ngx-file-drop__content {
    flex-direction: column;
  }
