/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0px !important;
    background-color:#7e603c !important; 
}

button {
    padding: 0px;
    border: none;
    background-color: transparent;
}
