<div mdbModal #frame="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSignUpModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="userAccount" class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input mdbValidate mdbInput type="text" id="firstName-register" [(ngModel)]="user.firstName" formControlName="firstName" class="form-control">
          <label for="firstName-register">Your first name</label>
          <mdb-error *ngIf="firstNameField.invalid && (firstNameField.dirty || firstNameField.touched)"><small>This field is required</small></mdb-error>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input mdbValidate mdbInput type="text" id="lastName-register" [(ngModel)]="user.lastName" formControlName="lastName" class="form-control">
          <label for="lastName-register">Your last name</label>
          <mdb-error *ngIf="lastNameField.invalid && (lastNameField.dirty || lastNameField.touched)"><small>This field is required</small></mdb-error>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input mdbInput mdbValidate type="email" id="email-register" [(ngModel)]="user.email" formControlName="email" class="form-control" >
          <label for="email-register">Your email</label>
          <mdb-error *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"><small>Type down a valid email</small></mdb-error>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-lock prefix grey-text"></i>
          <input mdbInput mdbValidate type="password" id="password-register" [(ngModel)]="user.password" formControlName="password" class="form-control validate">
          <label for="password-register">Your password</label>
          <mdb-error *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"><small>Add a password of minimum six characters</small></mdb-error>
        </div>
        <app-upload-user-image [user]="user"></app-upload-user-image>
      </form>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn class="waves-light custom-button" [disabled]="userAccount.invalid" (click)="registerUser()" mdbWavesEffect>Sign up</button>
      </div>
    </div>
  </div>
</div>