.wrapper {
    background-color: #4c3a1d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.user-name {
    text-align: center;
    font-size: 22px;
    padding: 4px;
    color:#ecbf1e;
    font-weight: 600;
    border-block-start: 1px solid #fde9c8;
    border-block-end: 1px solid #fde9c8;
    margin-top: 5px;
    margin-bottom: 5px
}

.logo {
    height: 57px;
    width: 280px;
    background: url("./../../../assets/images/takeItEasyLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.comercial-logos {
    margin: auto;
    margin-right: 25px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    .logo{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;
        cursor: pointer;
        &:hover{
            opacity: 0.4;
        }
    }
    .notification {
        cursor: pointer;
        .fa-bell {
            color: #ffefc8e0;
        }
        .notification-point {
            position: absolute;
            background-color: red;
            height: 11px;
            width: 11px;
            border-radius: 50%;
            border: 2px solid #4c3a1d;
            margin-left: 12px;
            margin-top: 2px;
        }
    }
    .wish-list {
        cursor: pointer;
        margin-right: 20px;
        .fa-hand-holding-heart {
            color: #ffefc8e0;
        }
    }
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    .point{
        height: 7px;
        width: 7px;
        border-radius: 50%;
        margin: 3px;
    }
    
    :nth-child(2n-1) {
        background-color: #acb52a;
    }

    :nth-child(2n) {
        background-color: #fed200;
    }
}

.black-wrapper {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
.settings-box {
    width: 161px;
    position: absolute;
    z-index: 1;
    right: -160px;
    top: 38px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex-direction: column;
    animation-name: settingsFrame;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    .settings-element {
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: auto;
        margin-bottom: 5px;
        border-radius: 8px;
        font-family: "Calibri";
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        &:first-of-type {
            margin-top: 10px;
        }
        &:last-of-type {
            margin-bottom: 15px;
        }
        &:hover {
            opacity: 0.5;
            width: 80%;
            background-color:#ae7e4a;
            cursor: pointer;
        }
    }
    .close-button {
        height: 21px;
        width: 21px;
        border: none;
        background: none;
        margin: 3px;
        background-size: cover;
        cursor: pointer;
        background-image: url("./../../../assets/images/x-close-icon-white.png");
        &:hover{
            opacity: 0.4;
        }
    }

    .no-profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        background-size: cover;
        background-image:url("./../../../assets/images/no-profile-image.png");
        &:hover {
            opacity: 0.5;
        }
    }
  
    .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        background-size: cover;
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

.settings-box-closed {
    display: none;
}

@keyframes settingsFrame {
    0% {
        width: 161px;
        background-color: #4c3a1d;
        right: -161px;
    }
    100% {
        background-color: #956a2e;
        right: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 670px) {
    .comercial-logos{
        display: none;
    }

    .logo{
        width: 290px;
    }
  }

.triangle {
    height: 10px;
    width: 23px;
    -webkit-clip-path: polygon(47% 0, 0 100%, 100% 100%);
    clip-path: polygon(47% 0, 0 100%, 100% 100%);
    background-color: #ffefc8e0;
    position: absolute;
    top: 65px;
    right: 44px;
}

.triangle2 {
    height: 10px;
    width: 23px;
    -webkit-clip-path: polygon(47% 0, 0 100%, 100% 100%);
    clip-path: polygon(47% 0, 0 100%, 100% 100%);
    background-color: #ffefc8e0;
    position: absolute;
    top: 65px;
    right: 87px;
}

.wishlist-content {
    width: 300px;
    max-height: 450px;
    overflow-y: auto;
    background-color: #e9d9b4;
    position: absolute;
    top: 76px;
    right: 86px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .wishlist-body {
        .text-not-find{
                width: 100%;
                height: 25px;
                font-family: "Calibri";
                font-size: 12px;
                color: #4c3a1d;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: underline;
            }
    }
    .wishlist-header {
        width: 100%;
        height: 25px;
        border-bottom: 1px solid #f7f7f7;
        font-family: "Calibri";
        font-size: 14px;
        color: white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-wishlist {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff80;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        .fa-heartbeat {
            color: #acb52a;
        }
        .fa-times-circle {
            color: gray;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            .fa-times-circle {
                opacity: 1;
                &:hover {
                    color:red;
                }
            }
        }
        &:last-of-type {
            border-bottom: 2px solid white;
        }
    }
}

.notification-content {
    width: 300px;
    max-height: 450px;
    overflow-y: auto;
    background-color: #e9d9b4;
    position: absolute;
    top: 76px;
    right: 41px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .notification-header {
        width: 100%;
        height: 25px;
        border-bottom: 1px solid #f7f7f7;
        font-family: "Calibri";
        font-size: 14px;
        color: white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notification-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .text-not-find {
            width: 100%;
            height: 25px;
            font-family: "Calibri";
            font-size: 12px;
            color: #4c3a1d;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: underline;
        }
        .card-notification {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: #ffffff80;
            border-top: 2px solid white;
            border-left: 2px solid white;
            border-right: 2px solid white;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
            &:last-of-type {
                border-bottom: 2px solid white;
            }
            .notification-image {
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
            .right-side {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-left: 20px;
                .notification-text {
                    font-family: "Calibri";
                    font-size: 14px;
                    color: #4c3a1d;
                    font-weight: 600;
                }

                .notification-info {
                    font-family: "Calibri";
                    font-size: 12px;
                    color: #797979;
                    font-weight: 400;
                }
            }
        }
    }
}

.opacity-notification {
    opacity: 0.6;
}