.modal-content {
    width: 60%;
    margin: auto;
    max-width: 560px;
  }

  .custom-button {
    background-color: #9ea525 !important;
    color: white;
    margin-right: 30px;
}

.drop-uploader-wrapper {
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.error {
      color: red;
    }

    .browse-button {
        margin-top: 22px;
       .browse-text {
           font-size: 13px;
       }
    }
}

.lala {
    width: 140px;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url("./../../../assets/images/no-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    width: 100%;
    height: 310px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.text {
    vertical-align: top;
    color: grey;
    margin-top: 15px;
    margin-bottom: 20px; 
    font-weight: 400;

    &:first-of-type {
      margin-bottom: 0px;
      font-weight: 600;
    }
  }

  .image-cover {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .opacity {
    opacity: 0.4;
  }