<div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Image</h4>
    </div>
    <div class="drop-uploader-wrapper" [ngClass]="{'error': isInvalid }">
        <div class="cover">
          <div class="image-cover" [ngStyle]="{'background-image':  image ? 'url('+image+')' : 'none'}">
            <file-drop customstyle="drop-uploader" (onFileDrop)="onFileDropped($event)">
                <canvas class="lala" [ngClass]="{'opacity': image }"></canvas>
                <span class="text" [ngClass]="{'opacity': image }" >Drag and drop a cover picture</span>
                <span class="text" [ngClass]="{'opacity': image }" >Only JPG, PNG and JPEG. Maximum 1 MB</span>
            </file-drop>
          </div>
        </div>
        <span class="errorText">{{errorText}}</span>
        <div *ngIf="!isStateCompleted" class="warning">
            <i class="fas fa-exclamation-circle fa-sm"></i>
            You have to complete the first 2 steps before to propose.
        </div>
        <div class="browse-button">
          <label for="fileUpload2" class="btn">
            <div class="browse-text">
              <i class="fas fa-arrow-circle-down"></i>
              Browse
            </div>
          </label>
          <input type="file" id="fileUpload2" hidden (change)="takeFileFromBrowse($event)">
        </div>
        
    </div>
    <div class="modal-footer d-flex">
      <button type="button" [disabled]="!isValidImage() || !isStateCompleted" (click)="save()" class="btn btn-brown custom-button">Propose</button>
    </div>
  </div>
